body {
    background-color: black;
    font-family: arial;
    color: white;
}

h1 {
    color: grey;
    font-family: verdana;
}

form {
    display: table;
}

p {
    display: table-row;

}

label {
    display: table-cell;
    margin-top: 20px;
}

input {
    display: table-cell;
    margin-left: 20px;
    margin-top: 20px;
}

select {
    display: table-cell;
    margin-left: 20px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}


.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align: center;
}
